@font-face {
    font-family: oxyBold;
    src: url(Oxygen-Bold.ttf);
  }
 
  @font-face {
    font-family: oxyLight;
    src: url(Oxygen-Light.ttf);
  }
 
  @font-face {
    font-family: oxyRegular;
    src: url(Oxygen-Regular.ttf);
  }
 


body
{
    background-color: #E5EBF1;
}

h1
{
    font-family: oxyBold;
    color: #404e5c;
    text-transform: uppercase;  
    font-size: 32px !important;
    line-height: 40px;
    
}
h2
{
    font-family: oxyBold;
    color: #404e5c;
    text-transform: uppercase;  
    font-size: 20px !important;
    line-height: 30px;
    
}

h4
{
    font-family: oxyBold;
    color: #404e5c;
    text-transform: uppercase;  
    font-size: 16px !important;
    line-height: 20px;
    
}

.searchbar-label
{
    font-family: oxyRegular;
    color: #404e5c;
    text-transform: uppercase;  
    font-size: 14px !important;
    font-weight: 500;
    line-height: 26px;
    
}

.view-all-text
{
    color: #404e5c;
    font-size: 14px;
    font-family: oxyRegular;
    text-transform: capitalize;  


}

.view-all-text a
{
    text-decoration: none;
    color: #404e5c;

}

.view-all-text a:hover
{
    color: black;
}

.heading-row-title
{
    margin-top: 50px;
 
}

.anime-detail-page-reviews-card
{
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 60px 40px -7px;
    height: 220px;
    margin: 4px;
}
.anime-detail-review-card-story-ratng
{
    font-size: 36px !important;
    font-family: oxyBold !important;
    color: #e8daf0;
    line-height: 44px;
    color: #6C971E !important;

}
.anime-review-card-des
{
    
    font-size: 16px;
    font-family: oxyRegular;
    line-height: 20px;
    color: #FBFBFB;
}
.anime-detail-page-reviews-card p
{
    text-transform: capitalize;
    font-size: 14px;
    font-family: oxyRegular;
    line-height: 20px;
    color: #FBFBFB;
    text-align: center;
}

.anime-detail-page-reviews-card a
{
    text-decoration: none;
}



.anime-detail-cover-image-section
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.anime-detail-pictures-list-image
{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* margin: 7px; */
    box-shadow: rgb(0 0 0 / 20%) 0px 60px 40px -7px;
    padding: 6px;
    background-color: #683BAB;

}
.anime-grid-list-image
{
    border-radius: 10px;
    width: 100%;
    height: 85%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.characters-row-grid-anime-detail
{
    border: 1px solid #683BAB;
    padding: 16px;
    border-radius: 10px;
    margin: 1px;
    background-color: #ffffff59;

}

.anime-grid-list-characters-image
{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}

.anime-detail-characters-role
{
    font-size: 14px;
    color: #54229E;
    line-height: 12px;
    font-family: oxyBold;
}
.anime-grid-list
{
    margin-top: 50px;
}

.anime-title-list-grid
{
    margin-top: 6%;
    margin-bottom: 10%;
    /* text-align: justify; */
    color: #54229E;
    font-size: 11px;
    line-height: 13px;
    font-family: 'oxyBold';
    text-transform: capitalize;

}


.anime-detail-characters-title-list-grid
{
    margin-top: 16%;
    margin-bottom: 10%;
    /* text-align: justify; */
    color: #54229E;
    font-size: 16px;
    line-height: 20px;
    font-family: 'oxyBold';
    text-transform: capitalize;

}

.anime-title-list-grid:hover
{
    color: black; 
}

.extra-padding-container
{
    padding-left: 2%;
    padding-right: 2%;
 
}


.extra-padding-container-anime-detail
{
    padding-left: 10%;
    padding-right: 10%;

}

.write-review-btn-detail-page-1
{
    background-color: #F9AC04;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 18%;
    height: 15%;
    margin-top: 4% !important;
    margin-left: 3px;
    border-radius: 10px;
    font-size: 12px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
    text-decoration: none !important;
}

.write-review-btn-detail-page-1:hover
{
    background-color: #fff;
    color: #54229E !important;
    border:solid 1px rgba(10, 37, 64, 0.35) !important;

    
}

.write-review-btn-detail-page
{
    background-color: #F9AC04;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 140px;
    height: 30px;
    margin-top: 4% !important;
    margin-left: 3px;
    border-radius: 10px;
    font-size: 12px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
    text-decoration: none !important;
}

.add-to-favourite-btn-detail-page:hover
{
    
    background-color: #fff;
    color: #EC294B !important;
    border:solid 1px #EC294B!important;

}


.write-review-btn-detail-page:hover
{
    background-color: #fff;
    color: #54229E !important;
    border:solid 1px rgba(10, 37, 64, 0.35) !important;

    
}


.add-to-favourite-btn-detail-page-1
{
    background-color: #EC294B;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 18%;
    height: 15%;
    margin-top: 4% !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 12px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
    text-decoration: none !important;
}

.add-to-favourite-btn-detail-page-1:hover
{
    
    background-color: #fff;
    color: #EC294B !important;
    border:solid 1px #EC294B!important;

}


.add-to-favourite-btn-detail-page
{
    background-color: #EC294B;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 140px;
    height: 30px;
    margin-top: 4% !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 12px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
    text-decoration: none !important;
}



.anime-views-count
{
    background-color: #ee6340;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 133px;
    margin-top: 4px !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 14px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
}

.anime-fav-count
{
    background-color: #d66012d2;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 133px;
    margin-top: 4px !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 14px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
}



.genres-detail-page
{
    background-color: #54229E;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 133px;
    margin-top: 4px !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 14px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
}

.anime-detail-page-views
{
    color: #4B5961!important;
    font-size: 14px;
    line-height: 16px;
    font-family: oxyBold;
}

.text-decor
{
    text-decoration: none;
}


.my-footer
{
    background-color: #2B2D42;
    color: #E5EBF1;
}

.footer-color
{
    color: #E5EBF1;
}

.my-navbar
{
    margin-top: 2%;
    background-color: #54229E;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.my-navbar-color-item
{
    color: whitesmoke !important;
    font-size: 14px;
    line-height: 16px;
    font-family: oxyRegular;
    
}

.user-my-navbar
{
    margin-top: 1%;
    background-color:#6B579E;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    
}

.user-my-navbar-color-item
{
    color: whitesmoke !important;
    font-size: 14px;
    line-height: 16px;
    font-family: oxyRegular;
    text-align: center;
    
}


.anime-detail-anime-cover-image
{
    border-radius: 10px;
    border: solid 6px #54229E;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.anime-detail-below-cover-genere
{
    margin-top:10px;
    color: #404e5c;
    font-size: 16px;
    line-height: 20px;
    font-family: oxyRegular;
}

.anime-detail-anime-title-des-section
{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 10px;
    background-color: white;
    padding: 4%;
}

.anime-detail-anime-title
{
    color: #54229E !important;
    font-size: 30px;
    line-height: 40px;
    font-family: oxyBold;
}

.anime-detail-anime-synopsis
{
    color: #4B5961 !important;
    font-size: 22px;
    line-height: 32px;
    font-family: oxyRegular;
}

.anime-detail-anime-trailer
{
    color: #4B5961 !important;
    font-size: 24px;
    line-height: 32px;
    font-family: oxyBold;
}

.anime-detail-anime-des
{
    color: #4B5961 !important;
    font-size: 16px;
    line-height: 26px;
    font-family: oxyRegular;
}

.anime-detail-anime-cover img
{

    background-image: url('https://s4.anilist.co/file/anilistcdn/media/anime/banner/141391-JErChZ8G3b49.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 0% 10% 0%;
    opacity: 0.6;
    filter: blur('12%');

}


.anime-detail-page-source-text 
{
    color: #4B5961 !important;
    font-family: oxyRegular;
    text-decoration: none;
}


.anime-detail-page-source-text a
{
    color: #4B5961 !important;
    font-family: oxyRegular;
    text-decoration: none;
}

.anime-detail-news-card
{
    background: #FBFBFB;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 4px;
    display: inline-grid;
    height: 265px;
    min-width: 370px;
    padding:20px;
    margin-bottom: 4%;
}

.detail-news-image
{
    width: 140px;
    height: 230px;
}

.detail-news-title
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 18px;
    text-decoration: none;
}


.detail-news-des
{
    color: #4B5961 !important;
    font-family: oxyLight;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

.deatil-news-date
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 12px;
    text-decoration: none;
}

.anime-detail-info-grid a
{
    text-decoration: none;
}

.anime-detail-info-grid
{
    background: #FBFBFB;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin:6px;    
}

.anime-detail-info-grid-title
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 16px;
    text-decoration: none;
}

.anime-detail-info-grid-text
{
    color: #4B5961 !important;
    font-family: oxyLight;
    font-size: 14px;
    text-decoration: none;
}

/* search page */

.search-mobile-card-bg
{
    background: #FBFBFB !important;
    box-shadow: rgb(84, 34, 158) 0px 25px 20px -20px !important;
    border-radius: 10px !important;    
 
}

.search-mobile-card-title
{
    font-size: 38px;
    margin-top: 20px;
    line-height: 40px !important;
    color: #121516 !important;
    font-family: oxyLight !important;
    text-decoration: none !important;
}

.search-card-mobile-image
{
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}


.searched-item-row
{
    background: #FBFBFB;
    box-shadow: rgb(84, 34, 158) 0px 25px 20px -20px;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    margin:3% 6px 6px 6px;
}


.searched-item-image img
{
    width: 80px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    border-radius: 15px;

}

.searched-item-title
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 16px;
    text-decoration: none !important;
    
}

.searched-item-rating
{
    color: #4B5961 !important;
    font-family: oxyLight;
    font-size: 12px;
    text-decoration: none !important;
    
}

.searched-item-score
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 14px;
    text-decoration: none !important;
    
}

.searched-item-type
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 14px;
    text-decoration: none !important;
    
}

.searched-item-status
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 14px;
    text-decoration: none !important;
    
}
/* search page */


/* review module */

.review-list-home-row {
     
    background: black;
    position: relative;

    background: #f5f5f5;
    /* background: #281a3d; */

    padding: 16px;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 65%) 0px 5px 15px;
    height: 250px;
  }
  
  .review-list-home-row .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* filter: blur(6px); */
    opacity: 0.2;
  }

  .review-card-title-test a
  {
    color: black !important;
    font-family: oxyBold;

  }
  .review-card-title-test
  {

    position: absolute;
    top: 7%;
    left: 3%;
    font-size: 12px !important;
    line-height: 40px;
    color: black !important;
    /* color: white; */

    /* transform: translate(-50%, -50%); */
    /* background-color: #54229E; */
    border-radius: 30px;
    padding: 0px 10px 0px 10px;

  }

.review-card-anime-title-bottom-test
{
    color: black !important;
    font-family: oxyBold;
    font-size: 13px !important;
    line-height: 20px;
    position: absolute;
    top: 104%;
    left: 3%;
    margin-top: 10px;

}

  .review-card-description-test
  {
    color: black !important;
    /* color: whitesmoke !important; */

    font-family: oxyBold;
    font-size: 16px !important;
    text-decoration: none !important;
    position: absolute;
    top: 24%;
    padding: 17px;
    margin-top:10px ;
    left: 4%;
    /* transform: translate(-50%, -50%); */
    height: 84px;
    /* background-color: #1b1b1dc7; */
    border-radius: 10px;

  }

  .review-card-username-test
  {
    color: black !important;
    /* color: #fff !important; */

    font-family: oxyBold;
    font-size: 13px !important;
    text-decoration: none !important;
    text-transform: capitalize;
    position: absolute;
    top: 84%;
    left: 4%;
    z-index: 11px;

  }

.img-row {
    height: 415px;
    background: black;
    position: relative;
  }


  

  .img-row img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 48% 22%;
    filter: blur(7px);
  }
  
  .position-img {
      height: 265px;
      width: 180px;
  }
  .position-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(0);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }
  .small-image {
      position: absolute;
      top: 92%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    position: relative;
    margin-top: 30px;
    color: #54229E;
    font-family: oxyBold;
  
  }

  .title a{
    text-decoration: none;
    color: #54229E;

  }
  .ranked-review-detail
  {
    font-size: 16px;
    line-height:30px !important;
    font-weight: 500;
    margin-bottom: 0;
    color: #54229E;
    font-family: oxyRegular;
  }

  .review-rating-cards-container
  {
    margin-top: 16%;

  }

.anime-review-list-card
{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    /* margin-bottom: 2%; */
}

.review-card-list
{
    background: #281a3d;
    padding:16px;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 65%) 0px 5px 15px;
    height: 250px;
}

.review-card-title 
{
    height: 64px !important;
}
.review-card-title a
{
    color: whitesmoke !important;
    font-family: oxyBold;
    font-size: 16px !important;
    text-decoration: none !important;

}

.review-card-anime-title-bottom
{
    color: black !important;
    font-family: oxyBold;
    font-size: 13px !important;
    line-height: 36px;
}

.review-card-description
{
 
    height: 64px !important;
}

 
.review-card-description p
{
    color: whitesmoke !important;
    font-family: oxyLight;
    font-size: 14px !important;
    text-decoration: none !important;
}



.review-card-username
{
    color: #fff !important;
    font-family: oxyRegular;
    font-size: 13px !important;
    text-decoration: none !important;
    text-transform: capitalize;
}

.review-card-date
{
    color: #fff !important;
    font-family: oxyLight;
    font-size: 11px !important;
    text-decoration: none !important;
    text-transform: capitalize;
}

.review-card-like-thumbsup
{
    font-size: 16px;
    color: #000;
    font-family: oxyRegular;
}

.review-card-like-thumbsdown
{
    font-size: 16px;
    padding-left: 10px;
    color: #54229E;
    font-family: oxyRegular;
}

.review-detail-page-featured-banner
{
    padding: 0%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        
}

.review-detail-page-cards
{
    padding:2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    /* margin: 9px 16px 9px 16px; */
    margin-right: 2%;
    margin-left: 5%;

    margin-bottom: 20px;
}

.review-detail-card-value
{
    font-size: 24px;
    color: #54229E;
    font-family: oxyBold;
}

.review-detail-card-title
{
    font-size: 16px;
    color: #1E1E1E ;
    font-family: oxyRegular;
}

.review-section
{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:50px;
    margin-top: 30px;
    margin-bottom: 60px;

}


.review-section-title
{
    color: #1E1E1E ;
    font-family: oxyBold;
}

.review-section-username
{
    color: #1E1E1E ;
    font-family: oxyRegular;
    margin-bottom: 4%;
    text-transform: capitalize;
}



.review-detail-likes-section
{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}
/* review module */


/* Site Stats */



.site-stats-card
{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(84, 34, 158)  0px 3px 10px;
    margin-top:10px;

}

.site-stats-counter
{

    padding: 20px;
    color: #54229E;
    font-family: oxyBold;
    

}
.site-stats-icon
{
    font-size: 20px !important;
}


.site-stats-title
{
    padding: 20px;
    color: #1E1E1E;
    font-size: 14px;
    font-family: oxyRegular;
}

/* Site Stats */


/* home */

.home-main-section
{
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;

    background-color: #683BAB;
    border-radius: 10px;
    padding: 46px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.home-main-section h1
{
    color: white;
}


.home-main-section h2
{
    color: white;
}


.home-main-section-text
{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding-top: 20px;
    font-family: oxyRegular;

}


/* home */

/* zoom effect */

.zoom {
    
    transition: transform .6s;
    
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
 
  }
/* zoom effect */




/* search bar */

.searchbar-custom
{
    padding: 3%;
    color: #683BAB !important;
    font-size: 18px;
    line-height: 22px;
    font-family: oxyBold;

}

.searchbar-custom:focus
{
    border: solid 1px white !important;
}

/* search bar */


/* ribbon tag */

.ribbon-tag 
{ 
    font-size: 14px;
    font-family: oxyBold;
    text-align: center;
    -webkit-transform: rotate(311deg);
    -moz-transform: rotate(311deg);
    -ms-transform: rotate(311deg);
    -o-transform: rotate(311deg);
    position: relative;
    padding: 6px 0;
    left: -13px;
    top: 26px;
    opacity: 0.9;
    width: 71px;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
    text-shadow: rgb(255 255 255 / 50%) 0px 1px 0px;
    background: #54229E;
}


/* Login Signup */



.custom-btn-singup-mobile
{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: oxyRegular;
    background-color: black;
    width: 160px !important;
     margin-bottom: 2%;
 
}

.custom-btn-singup
{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: oxyRegular;
    background-color: black;
    width: 120px !important;
    margin-left: 10px;
    margin-bottom: 2%;
    



}

.my-navbar
{
    padding:20px;
}

.custom-btn-singup:hover
{
    background: #fff !important;
    color: #683BAB !important;

}

.custom-btn-login
{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: oxyRegular;
    background-color: black;
    width: 120px !important;
    margin-bottom: 2%;


}

.custom-btn-login:hover
{
    background: #fff !important;
    color: #683BAB !important;

}


.registeration-card
{
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    padding:30px;
    margin-top:30px !important;
}

.auth-user-navbar
{
    color: whitesmoke !important;
    font-size: 14px !important;

    font-family: oxyRegular !important;

}

/* Login Signup */



.anime-detail-page-view-all-btn a
{
    color: whitesmoke !important;
}

.anime-detail-page-view-all-btn:hover
{
    background-color: black !important;
}


.anime-detail-page-view-all-btn
{

    background-color: #683BAB !important;
    width: 130px !important;
    padding: 2px;
    border-radius: 20px;
    font-size: 14px !important;
    text-align: center;
    color: whitesmoke !important;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}



.title-bg-homepage
{

    background-color: #683BAB !important;
    width: 240px !important;
    padding: 2px;
    border-radius: 20px;
    font-size: 14px !important;
    text-align: center;
    color: whitesmoke !important;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

}




/* user profile */
a{
    text-decoration: none !important;
}


.user-profile-watching-badge
{

    width: 20px;
    height: 20px;
    background-color: #6F99E4;
    border-radius: 50%;
    margin-left: 38%;
    margin-bottom: 10px;

}



.user-profile-watched-badge
{

    width: 20px;
    height: 20px;
    background-color: #FC9F3C;
    border-radius: 50%;
    margin-left: 38%;
    margin-bottom: 10px;

}

.user-profile-planing-badge
{

    width: 20px;
    height: 20px;
    background-color: #4F4667;
    border-radius: 50%;
    margin-left: 38%;
    margin-bottom: 10px;

}

.user-profile-dropped-badge
{

    width: 20px;
    height: 20px;
    background-color: #D93D48;
    border-radius: 50%;
    margin-left: 38%;
    margin-bottom: 10px;

}


.user-profile-badge-title
{
    font-size: 14px;
    font-family: oxyBold;
    color:#1E1E1E;
    line-height: 20px;
}

.user-profile-watching-badge-title a{
    color:#1E1E1E !important;

}
 

.user-detail-section-buttons
{
    background-color: #54229E;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 133px;
    margin-top: 4px !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 14px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;    
}

.user-profile-tab-btn
{
    background-color: #B0376D;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 100%;
    margin-top: 4px !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 14px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
}

.user-profile-tab-btn:hover
{
    background-color: #fff;
    color: #B0376D !important;
    border: solid 1px #B0376D !important;


}


.avatar-container
{
    /* margin-top:10%; */
    border: solid 1px #54229E;
    border-radius: 15px;
    max-height: 180px;
    max-width: 180px;
    padding: 12%;
    /* position: relative;
    top: -100px; */
    box-shadow: rgba(247, 247, 247, 0.2) 0px 60px 40px -7px;
    background-color: #54229e27;
}

.avatar-container img
{
    max-height: 160px !important;
    max-width: 130px !important;
    

}


.user-tite-container
{
    padding-left:2%;
    padding-top:6%;

    /* position: relative;
    top: 30px;
    right: 30px; */
    border-radius: 15px;
    /* background-color: #0b080ca1; */
    text-align: justify;
}

.user-tite-container h2
{
    color: #54229E;
    font-size: 26px !important;
    letter-spacing: 1px;
    line-height: 33px !important;
    font-family: oxyBold;
}

.user-tite-container p
{
    color: black;
    font-size: 18px !important;
    line-height: 25px !important;
    font-family: oxyLight;

}

.user-detail-page-featured-banner
{
    padding: 0%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    width: 100% !important;    
    height: 350px !important;
}

.user-profile-card
{
    padding:2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    margin: 0% 1% 5% 1%;
    transition: transform .6s;
    text-decoration: none !important;

}

.user-profile-card-s
{
    padding:2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #54229E;
    border-radius: 10px;
    text-align: center;
    margin: 0% 1% 5% 1%;
    transition: transform .6s;
    text-decoration: none !important;
}

.user-profile-card-s:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    background-color: #000 !important;
}

.user-profile-card:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    color: whitesmoke !important;
    
}


.user-edit-section
{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:50px;
    margin-top: 30px;
    margin-bottom: 60px;

}


.user-edit-section-title
{
    color: #1E1E1E ;
    font-family: oxyBold;
    font-size: 22px;
}


/* user profile */

.detail-page-add-list
{
    margin-top: 10px;
    background-color: #683BAB !important;
    color: whitesmoke ;
    font-family: oxyLight;
    font-size: 14px;
    width:140px;

}

.detail-page-add-list-item
{
    background-color: #fff !important;
    color: #683BAB;
    font-family: oxyRegular;
    font-size: 15px;
}


/* 
review
*/



.review-label-text
{
    color: #683BAB;
    font-family: oxyBold !important;
    font-size: 16px !important;
}

.form-control
{
    padding: 0.675rem 0.85rem !important;

}


.new-user-name-grid
{
    font-size: 14px !important;
    line-height: 20px;
    font-family: oxyBold !important;
    color: #683BAB;
    text-transform: capitalize;

}


/* top airing anime  */

.top-airing-anime-count
{
    font-family: oxyBold;
    color: #54229E;
    font-size: 220px;
    line-height: 230px;
    
}



.top-airing-anime-image
{
    border-radius: 10px;
   
    width: 190px;
    height: 85%;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.top-airing-anime-title
{
    font-family: oxyBold;
    color: #54229E;
    font-size: 11px;
    line-height: 16px;
    margin-top: 10px;
}
/* top airing anime  */


/* pre footer */


.pre-footer-homepage
{
    margin-top:20px;
    background-color: #1C1F59;
    position: relative;
    text-align: center;
    /* margin-bottom:20px; */
    color: whitesmoke ;
    
}

.pre-footer-counter-title-section-container-bg-dark
{
    background-color: #1C1F59;
    padding: 30px;
}


.pre-footer-counter-title-section-container-bg-light
{
    background-color: #373BB0;
    padding: 30px;
}

.pre-footer-counter
{
    font-size: 48px;
    font-family: oxyBold;
    line-height: 50px;
}


.pre-footer-title
{
    font-size: 24px !important;
    font-family: oxyRegular !important;
    line-height: 30px !important;
    color: #FFEEA4 !important;
}

.pre-footer-quote-container
{
    margin-top: 4%;
    padding: 5%;
}

.pre-footer-quote-container p
{
    font-size: 24px !important;
    font-family: oxyRegular !important;
    line-height: 30px !important;
    color: #FFEEA4 !important;
}
 
/* pre footer */


