.swiper {
  width: 100% !important;
  height: 300px;
}

.swiper-slide {
  width: auto !important;
}


.swiper-img-box:hover{
    width: 300px !important;
    transition:0.8s;
    /* border: 1px solid black; */
}

.hover-img-size{
    width: 170px !important;
    height: 250px;
    border-radius: 10px;
    transition: 0.5s;
}

.hover-img-size img{
    width: 100%;
    height:100%;
    object-fit:fill;
    border-radius: 10px;
    /* filter: brightness(0.5); */
}
.hover-img-size:hover img{
    filter:blur(10px) !important;
}
.hover-img-size:hover{
width: 300px !important;
transition: 0.3s;
}

.hover-img-size:hover .hover-img-description{
    display: block !important;
    transition:1.2s !important;
}
/* .container{
    position: relative;
    top: 200px;
} */

.hover-img-description{
    position: absolute;
    top: 0px;
    z-index: 99;
    width: 300px;
    display: none;
}



.white-color{
    color: white;
}

.btn-hover-fade{
    color: white;
    padding: 0px 10px;
    background: #4e4949;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
}

.btn-hover-fade:hover{
background: rgb(116, 115, 115);
transition: 0.8s;
}
.swiper-button-next{
    background: white;
    color: black;
    padding: 1.5rem;
    border-radius:50%;
    font-size: 12px;

}
.swiper-button-prev{
    background: white;
    color: black;
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 12px;
}


.swiper-button-next::after{
    font-size: 20px !important;
}
.swiper-button-prev::after{
    font-size: 20px !important;
}

.title-text{
    color: rgb(97, 97, 97);
}